schedule==1.0.0
lineTool==1.0.3
pandas==1.1.5
sqlalchemy==1.4.0
requests==2.22.0
paho-mqtt==1.5.1
getmac==0.8.2
matplotlib
pylint==2.7.4
jupyter==1.0.0
plotly==4.14.3
kaleido
futures
configparser
pylint==2.7.4
wget
numpy==1.19.2
tensorflow==2.5.0